# Discord Bot Configuration
DISCORD_TOKEN=your_discord_token_here
DISCORD_CHANNEL_ID=your_discord_channel_id_here
YOUTUBE_CHANNEL_ID=your_youtube_channel_id_here
YOUTUBE_API_KEY=your_youtube_api_key_here
DISCORD_RANDOM_CHANNEL_ID=your_random_channel_id_here 